

.fav-instruments-container {
    /* border: 1px blue solid; */
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.fav-instrument {
    border: black solid 0.5px;
    margin: 20px;
    padding: 12px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    border-radius: 16px;
    background-color: white;
}

.fav-instrument:hover {
    box-shadow: 0 0 20px 12px rgb(225, 0, 0, 0.5);
    /* background-color: rgb(250, 240, 240); */
    cursor: pointer;
}

.fav-inst-img {
    width: 300px;
    margin-top: 12px;
}

.fav-inst-model, .fav-inst-color {
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: italic;
}

.fav-inst-model {
    margin-top: 32px;
}

.fav-inst-color {
    margin-top: auto;
}

.red-text {
    color: rgb(190, 0, 0);
}