.list-tabs-container {
    width: 60%;
    /* border: 1px blue solid; */
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.list-tab {
    height: 60px;
    border-radius: 12px;
    display: flex;
    border: 1px solid rgb(50, 200, 50);
    text-decoration: none;
    justify-content: center;
}
.stock-tab {
    height: 60px;
    border-radius: 12px;
    display: flex;
    text-decoration: none;
    /* background-color: rgb(50, 200, 50); */
    justify-content: center;
    align-items: center;
}
.green-border {
    border: 1px solid rgb(50, 200, 50);
}
.red-border {
    border: 1px solid rgb(165, 20, 20);
}
.green-border:hover,
.list-tab:hover {
    box-shadow: 0 0 20px 0px rgb(35, 150, 35);
}
.red-border:hover {
    box-shadow: 0 0 20px 0px rgb(220, 25, 25);
}

.is-green,
.stock-tab-up-arrow {
    color: rgb(50, 200, 50);
}
.is-red,
.stock-tab-down-arrow {
    color: rgb(220, 25, 25);
}

.stock-tab-up-arrow,
.stock-tab-down-arrow {
    font-size: 28px;
    margin: 0 0 0 auto;
}

.list-tab-title {
    color: white;
}
.stock-tab-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.stock-tab-price {
    margin: 0 0 0 50%;
}

.stock-tab-percentage {
    font-size: 18px;
    margin: auto auto auto 24px;
}