.list-tabs-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 24px;
    margin: 0 auto 0 auto;
}

.all-list-tabs-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 36px;
    margin: 0 auto 0 auto;
}

.list-three-dots-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.all-lists-tab {
    width: 100%;
    margin: 0 auto 0 auto;
}

.list-tab {
    height: 60px;
    border-radius: 60px;
    display: flex;
    border: 1px solid var(--theme-green);
    text-decoration: none;
    justify-content: center;
}
.stock-tab {
    height: 60px;
    width: 100%;
    border-radius: 60px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.green-border {
    border: 1px solid var(--theme-green);
}
.red-border {
    border: 1px solid var(--theme-red);
}
.green-border:hover,
.list-tab:hover,
.edit-listName-btn:hover {
    box-shadow: 0 0 25px 10px var(--dark-green);
    cursor: pointer;
}
.red-border:hover {
    box-shadow: 0 0 25px 10px var(--dark-red);
    cursor: pointer;
}

.is-green,
.stock-tab-up-arrow {
    color: var(--theme-green);
}
.is-red,
.stock-tab-down-arrow {
    color: var(--theme-red);
}

.stock-tab-up-arrow,
.stock-tab-down-arrow {
    font-size: 28px;
    margin: 0 0 0 auto;
}

.list-tab-title {
    color: white;
}
.stock-tab-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.stock-tab-price {
    margin: 0 0 0 50%;
}

.stock-tab-percentage {
    font-size: 18px;
    margin: auto auto auto 24px;
}
.three-dot-btn {
    color: white;
    list-style: none;
    margin: 0 0 0 20px;
    font-size: 24px;
    color: var(--text-field-grey);
    border-radius: 12px;
    height: 42px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.three-dot-btn:hover {
    cursor: pointer;
    color: white;
    background-color: var(--them-green-dim);
    border: none;
    box-shadow: 0 0 25px 10px var(--dark-green);
}
.three-dots {
    list-style: none;
}

.list-screener-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}
.list-screener-btn {
    margin: 0 0 48px 0;
    border: 1px solid var(--theme-green);
    background-color: black;
    color: var(--theme-green);
    height: 36px;
    font-size: 20px;
}
.wide-btn {
    width: 320px;
}
.md-btn {
    width: 256px
}
.narrow-btn {
    width: 52px
}

.list-content-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
    width: 1280px;
}
.list-tabs-container-w-screener::-webkit-scrollbar {
    height: 8px;
}
.list-tabs-container-w-screener::-webkit-scrollbar-track {
    background: black;
}
.list-tabs-container-w-screener::-webkit-scrollbar-thumb {
    background: var(--theme-green);
    border-radius: 12px;
}
.screener-container {
    /* border: 1px solid red; */
    width: 100%;
}
.screener-header-container {
    /* border: solid 1px yellow; */
    /* border-bottom: 1px solid var(--border-light-grey); */
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: 100px;
    margin: 0 auto 12px auto;
    width: 100%;
}
.screener-total-container {
    border: 1px solid var(--border-light-grey);
    border-radius: 8px;
    padding: 0 12px 0 12px;
    width: 320px;
}
.hidden-screener-total-container {
    border: 1px solid var(--border-light-grey);
    border-radius: 8px;
    padding: 16px 12px 0 12px;
    height: 36px;
    width: 42px;
}
/* .screener-header-total-container {

} */
 .screener-total-show-btn {
    color: var(--theme-green);
    margin: 0 24px 0 auto;
    font-size: 18px;
 }
.screener-header-total-item-container {
    /* border: 1px solid pink; */
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.screener-header-texts {
    /* border: solid 1px purple; */
    border-right: 1px solid var(--border-light-grey);
    min-width: 120px;
    max-width: 120px;
}
.screener-header-total {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52px;
}
.screener-header-texts-total-item {
    /* border: 1px solid blue; */
    border-right: 1px solid var(--border-light-grey);
    height: 48px;
    width: 68px;
}
.screener-header-texts-total-item-sum {
    height: 48px;
    width: 68px;
}
.screener-header-texts-historical-dividend {
    border-right: 1px solid var(--border-light-grey);
    min-width: 120px;
    max-width: 120px;
}
.screener-header-texts-type {
    border-right: 1px solid var(--border-light-grey);
    min-width: 120px;
    max-width: 120px;
}
.list-tabs-container-w-screener {
    /* border: solid 1px green; */
    display: flex;
    flex-direction: column;
    gap: 32px;
    overflow-x: auto;
    padding-bottom: 36px;
}
.screener-action-container {
    /* border: solid 1px blue; */
    margin: 0 12px 0 0;
    border: 1px solid var(--border-light-grey);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-width: 128px;
    gap: 32px;
    padding: 112px 12px 12px 12px;
}
.screener-period-btn {
    border: 1px solid var(--theme-green);
    background-color: black;
    color: var(--theme-green);
    min-width: 42px;
    height: 24px;
}
.screener-edit-btn {
    background-color: black;
    color: var(--theme-green);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screener-edit-btn:hover {
    font-size: 24px;
}
.screener-stock-tabs {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.screener-total-tab-container {
    display: flex;
    flex-direction: column;
    padding-top: 36px;
    gap: 32px;
}
.screener-total-tabs{
    /* border: solid 1px blue; */
    height: 32px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.screener-action-tabs {
    /* border: solid 1px green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
}
.screener-label-historical-dividend {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 120px;
    max-width: 120px;
}
.screener-texts {
    /* border: solid 1px cyan; */
    border-right: 1px solid var(--border-light-grey);
    min-width: 120px;
    max-width: 120px;
    margin: 0 0 0 0;
    height: 32px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.screener-texts-yearly-t-growth {
    border-right: 1px solid var(--border-light-grey);
    width: 68px;
    margin: 0 0 0 0;
    height: 32px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.screener-texts-sum {
    width: 68px;
    margin: 0 0 0 0;
    height: 32px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.screener-texts-historical-dividend {
    width: 70%;
    margin: 0 0 0 12px;
    height: 32px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.screener-texts-performance {
    width: 70%;
    margin: 0 0 0 12px;
    height: 32px;
    display: flex;
    align-items: center;
}
.screener-texts-symbol {
    /* border: solid 1px cyan; */
    font-weight: 400;
    border-right: 1px solid var(--border-light-grey);
    width: 80px;
    font-size: 18px;
}
.screener-texts-type {
    border-right: 1px solid var(--border-light-grey);
    min-width: 120px;
    max-width: 120px;
    margin: 0 0 0 0;
    height: 32px;
    font-size: 18px;
}
.screener-performance-arrow {
    font-size: 28px;
}
