.list-tabs-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 24px;
    margin: 0 auto 0 auto;
}

.all-list-tabs-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 36px;
    margin: 0 auto 0 auto;
}

.list-three-dots-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.all-lists-tab {
    width: 100%;
    margin: 0 auto 0 auto;
}

.list-tab {
    height: 60px;
    border-radius: 60px;
    display: flex;
    border: 1px solid var(--theme-green);
    text-decoration: none;
    justify-content: center;
}
.stock-tab {
    height: 60px;
    width: 100%;
    border-radius: 60px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.green-border {
    border: 1px solid var(--theme-green);
}
.red-border {
    border: 1px solid var(--theme-red);
}
.green-border:hover,
.list-tab:hover,
.edit-listName-btn:hover {
    box-shadow: 0 0 25px 10px var(--dark-green);
    cursor: pointer;
}
.red-border:hover {
    box-shadow: 0 0 25px 10px var(--dark-red);
    cursor: pointer;
}

.is-green,
.stock-tab-up-arrow {
    color: var(--theme-green);
}
.is-red,
.stock-tab-down-arrow {
    color: var(--theme-red);
}

.stock-tab-up-arrow,
.stock-tab-down-arrow {
    font-size: 28px;
    margin: 0 0 0 auto;
}

.list-tab-title {
    color: white;
}
.stock-tab-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.stock-tab-price {
    margin: 0 0 0 50%;
}

.stock-tab-percentage {
    font-size: 18px;
    margin: auto auto auto 24px;
}
.three-dot-btn {
    color: white;
    list-style: none;
    margin: 0 0 0 20px;
    font-size: 24px;
    color: var(--text-field-grey);
    border-radius: 12px;
    height: 42px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.three-dot-btn:hover {
    cursor: pointer;
    color: white;
    background-color: var(--them-green-dim);
    border: none;
    box-shadow: 0 0 25px 10px var(--dark-green);
}
.three-dots {
    list-style: none;
}

.list-tabs-container-w-screener {
    display: flex;
    flex-direction: column;
    width: 1500px;
    /* gap: 12px; */
    margin: 0 auto 0 auto;
    overflow-x: auto;
}
/* Custom scrollbar styles */
.list-tabs-container-w-screener::-webkit-scrollbar {
    height: 12px;
}
.list-tabs-container-w-screener::-webkit-scrollbar-track {
    background: black;
}
.list-tabs-container-w-screener::-webkit-scrollbar-thumb {
    background: var(--theme-green);
    border-radius: 12px;
}

.screener-headers {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 70px;
    width: 100%;
    border-bottom: 1px solid var(--border-light-grey);
}
.stock-tab-w-screener {
    height: 60px;
    width: 100%;
    /* border-bottom: 1px solid var(--border-light-grey); */
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    pointer-events: none;
    margin: 0 0 12px 0;
}
.screener-texts-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list-screener-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}
.list-screener-btn {
    margin: 0 0 48px 0;
    border: 1px solid var(--theme-green);
    background-color: black;
    color: var(--theme-green);
    height: 36px;
    font-size: 20px;
}
.wide-btn {
    width: 320px;
}
.md-btn {
    width: 256px
}
.narrow-btn {
    width: 52px
}
.text-w-screener {
    /* border: 1px solid orange; */
    border-right: 1px solid var(--border-light-grey);
    width: 100px;
    margin: 0 0 0 12px;
    font-size: 18px;
}
.screener-header-text {
    /* border: 1px solid pink; */
    border-right: 1px solid var(--border-light-grey);
    font-weight: 500;
    width: 100px;
    margin: 0 0 12px 12px;
}
.screener-header-text-type {
    border-right: 1px solid var(--border-light-grey);
    font-weight: 500;
    width: 100px;
    margin: 0 0 12px 156px;
}
.text-w-screener-type {
    width: 100px;
    margin-left: 24px;
    border-right: 1px solid var(--border-light-grey);
}
.text-w-screener-symbol {
    font-size: 20px;
    width: 120px;
    height: 12px;
    display: flex;
    align-items: center;
}
.screener-absolute-container {
    border-right: 1px solid var(--border-light-grey);
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    padding: 6px;
}
.screener-symbol-period-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list-screener-period-btn {
    border: 1px solid var(--theme-green);
    background-color: black;
    color: var(--theme-green);
    width: 42px;
    height: 36px;
    margin: 0 0 0 160px;
}