.search-info-container {
    /* border: blue 1px solid; */
    width: 1200px;
    margin: 0 auto 0 auto;
}

.search-info-boxes {
    /* border: green 1px solid; */
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.search-info-texts-container {
    /* border: red 1px solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-info-text {
    width: 33%;
}

.stock-page-action-btns {
    color: white;
    list-style: none;
    border: 1px white solid;
}
.stock-page-action-btns:hover {
    cursor: pointer;
}
.stock-page-add-btn {
    list-style: none;
}

