.search-info-container {
    /* border: blue 1px solid; */
    width: 1200px;
    margin: 0 auto 0 auto;
}

.search-info-boxes {
    /* border: green 1px solid; */
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.search-info-texts-container {
    /* border: red 1px solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-info-text {
    width: 33%;
}

.stock-page-action-btn {
    width: 160px;
    height: 36px;
    font-size: 16px;
    margin: 0 0 12px 0;
    background-color: black;
    border: 1px var(--theme-green) solid;
    color: white;
}
.stock-page-action-btn:hover {
    cursor: pointer;
}
.stock-page-add-btn {
    list-style: none;
}
