.search-info-container {
    width: 1200px;
    margin: 0 auto 0 auto;
}
.search-info-about-container {
    display: flex;
    flex-direction: row;
    gap: 160px;
}
.search-info-boxes {
    border-top: var(--border-dark-grey) 0.25px solid;
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* padding: 16px; */
}
.search-info-texts-container {
    /* border: red 1px solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.search-info-text {
    font-size: 18px;
    height: 16px;
}
.stock-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 12px 0;
}
.stock-page-title-price {
    margin: 0 0 0 24px;
}
.stock-chart-price-container {
    display: flex;
    flex-direction: row;
}
.stock-page-action-btn-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0 36px 0 auto;
}
.stock-page-refresh-btn {
    display: flex;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--theme-green);
}
.stock-page-refresh-logo {
    color: var(--theme-green);
}
.stock-page-refresh-logo:hover {
    box-shadow: 0 0 24px 4px ;
}
.stock-page-action-btn {
    width: 160px;
    height: 42px;
    font-size: 16px;
    background-color: black;
    border: 1px var(--theme-green) solid;
    color: white;
}

.list-page-action-btn {
    cursor: pointer;
}
.stock-page-add-btn {
    list-style: none;
}
.stock-page-add-btn:hover {
    list-style: none;
}
/* .search-info-title {

} */
.stock-info-column {
    width: 33%;
    display: flex;
    flex-direction: column;
}
.stock-chart-container {
    margin: 4px 0 36px 0;
}
.stock-sparkline-chart {
    margin: 20px auto 0 auto;
    max-width: 900px;
    min-width: 900px;
    max-height: 420px;
    min-height: 420px;
}

.stock-chart-btn-container {
    /* border: 1px solid red; */
    width: 900px;
    margin: 24px auto 0 auto;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: center;
}
.stock-chart-btns {
    color: var(--theme-green);
    border-radius: 24px;
    background-color: black;
    border: none;
    width: 80px;
    height: 24px;
}
.stock-chart-btns:hover {
    cursor: pointer;
    color: white;
}
.chart-btns-selected-green {
    background-color: var(--dark-green);
    color: white;
}
.chart-btns-selected-red {
    background-color: var(--dark-red);
    color: white;
}

.stock-chart-price {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    height: 24px;
    margin-left: 150px;
}
.stock-chart-period-price {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    height: 24px;
    margin: 0 150px 0 auto;
}
.stock-chart-arrow {
    font-size: 36px;
}
.stock-chart-price-text {
    font-size: 20px;
}
.is-background-green {
    background-color: var(--dark-green);
}

@media (max-width: 1500px) {
    .stock-header-container {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .stock-page-action-btn-container {
        margin: 24px auto 36px auto;
    }
}