
.page-container {
    padding: 68px;
}

#landing-container, .form-container {
    padding: 12px;
}

.header-title-container {
    display: flex;
    flex-direction: row;
}

.landing-header-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-category {
    margin-left: auto;
}

.header-tabs-container {
    align-self: center;
    padding: 4px;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.category-tab-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.category-nav .category-tabs {
    display: block;
    width: 100%;
}
.header-category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-tabs {
    cursor: pointer;
    min-width: 160px;
    width: 320px;
    height: 200px;
    padding: 0;
    background: transparent;
    border: none;
}
.category-tab-image:hover {
    box-shadow: 0 0 20px 10px rgb(235, 0, 0, 0.5);
}

.instrument-container {
    border: 0.25px solid rgb(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 12px;
    margin: 12px 0;
    display: flex;
    flex-direction: row;
    min-height: 320px;
}

.landing-instruments-container{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.instrument-dtl-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    height: 280px;
}

.inst-landing-dtl-text {
    height: 8px;
}
.instrument-model {
    height: 52px;
}

.add-to-cart-button {
    width: 50%;
    margin-top: auto;
    background-color: rgb(190, 0, 0);
    border: none;
    min-height: 24px;
    margin-bottom: 12px;
    border-radius: 4px;
}
.add-to-cart-button:hover {
    background-color: rgb(235, 0, 0);
    box-shadow: 0 0 10px 2px rgb(225, 0, 0, 0.5);
}

.add-to-cart-text {
    text-decoration: none;
    color: white;
}

.add-to-cart-button.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.add-to-cart-button.disabled:hover {
    background-color: black;
}

.black-text {
    color: black;
}

#dice-container {
    border: none;
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
}

#dice-icon {
    font-size: 64px;
    margin-top: 12px;
    color: white;
    transition: transform 0.3s ease;
}
#dice-icon:hover {
    color: rgb(235, 0, 0);
    transform: rotate(30deg);
    cursor: pointer;
}

#dice-text {
    color: rgb(190, 0, 0);
}

.instrument-image {
    object-fit:cover;
    height: 250px;
    width: 200px;
    margin-top: 20px;
}

.landing-discount-container {
    display: flex;
    flex-direction: column;
    gap: 8px
}
.landing-money-saved {
    background-color: red;
    color: white;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    border-radius: 4px;
}


@media (max-width: 1200px) {
    .header-tabs-container {
        flex-direction: column;
    }
    .landing-instruments-container {
        flex-direction: column;
    }
    .instrument-dtl-container {
        width: 80%;
        align-items: center;
    }
}
