
.landing-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}
.landing-btn-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.landing-info-tabs {
    border: solid 1px var(--border-light-grey);
    border-radius: 12px;
    margin: 0 0 12px 0;
    padding: 12px;
    height: 680px;
}
.landing-stock-content {
    display: flex;
    flex-direction: column;
}
.landing-news-content {
    width: 900px;
}
.landing-news-container {
    overflow-y: auto;
    height: 580px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
/* Custom scrollbar styles */
.landing-news-container::-webkit-scrollbar {
    width: 8px;
}
.landing-news-container::-webkit-scrollbar-track {
    background: black;
}
.landing-news-container::-webkit-scrollbar-thumb {
    background: var(--theme-green);
    border-radius: 10px;
}
.landing-news-tab {
    display: flex;
    flex-direction: row;
}
.landing-news-read-more {
    text-decoration: none;
    color: var(--theme-green);
}
.landing-news-dtl-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    height: 16px;
}
.landing-news-img {
    height: 100px;
    min-width: 200px;
    object-fit: cover;
    margin: 0 12px 0 auto;
}
.landing-3stocks-container {
    display: flex;
    flex-direction: row;
}
.landing-3stocks-market {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}
.landing-3stocks {
    width: 240px;
}

.landing-gainer-loser-title {
    margin: 20px 0 40px 0;
}
.landing-stock-tab {
    height: 180px;
    margin: 0 16px 0 0;
}
.landing-small-chart {
    padding: 16px;
    margin-top: 16px;
    max-height: 80px;
    min-height: 80px;
}
.landing-small-chart:hover {
    /* background-color: var(--theme-green); */
    padding: 8px;
    margin-top: 16px;
    max-height: 80px;
    min-height: 80px;
    width: 180px;
}
.landing-stock-percentage-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: 18px;
    align-items: center;
}
.landing-stock-text {
    height: 12px;
}
.landing-stock-arrow {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
