.footer-container {
    padding: 32px 32px 32px 68px;
    background-color: rgb(235, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 60px;
}

.footer-info-container {
    display: flex;
    flex-direction: row;
    gap: 56px;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.footer-info-box {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0, 0.5);
    border-radius: 8px;
}

.footer-icons {
    font-size: 42px;
    margin-right: 20px;
    color: black;
}
.footer-icons:hover {
    color: white;
}

.footer-text {
    color: black;
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 1200px) {
    .footer-info-container {
        flex-direction: column;
    }
}