
.news-container {
    width: 85%;
    margin: 24px auto 24px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.news-tab {
    width: 80%;
    display: flex;
    flex-direction: row;
}

.news-image {
    height: 100%;
    width: 520px;
    object-fit: cover;
}

.news-image-container {
    margin-left: auto;
}

.news-text {
    color: white;
}

.news-text-container {
    margin-right: 24px;
}

.news-page-btn {
    margin: 24px 0 0 0;
}

.news-readMore {
    color: white;
    background-color: var(--them-green-dim);
    border-radius: 4px;
    padding: 12px;
    border: 0px solid black;
}

.news-btns {
    text-decoration: none;
    margin: 0 12px 0 12px;
    font-size: 24px;
    background-color: black;
    /* border: 0px solid black; */
    border-radius: 4px;
    color: white;
    border: 0px;
}

.news-btns.active {
    background-color: var(--dark-green);
    color: white;
}

.news-btns:hover,
.news-readMore:hover {
    box-shadow: 0 0 10px 2px var(--them-green-dim);
    background-color: var(--dark-green);
    cursor: pointer;
}