
.news-page-container {
    /* border: blue solid 1px; */
    width: 1200px;
    margin: 8px auto 0 auto;
    display: flex;
    flex-direction: column;
}
.news-page-header {
    display: flex;
    flex-direction: row;
}
.news-container {
    border-top: var(--border-dark-grey) 0.25px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.news-tabs {
    border-bottom: var(--border-dark-grey) 0.25px solid;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    width: 100%;
    transition: background-color 0.25s ease;
}
.news-tabs:hover {
    background-color: var(--border-dark-grey);
    padding: 0 12px 0 12px;
}
.news-info-container {
    display: flex;
    flex-direction: column;
}
.news-component-img {
    height: 120px;
    width: 280px;
    object-fit: cover;
    margin: 0 12px 0 auto;
}
.news-publisher {
    font-weight: 500;
}
.news-show-more {
    margin: 24px 12px auto auto;
    color: var(--theme-green);
    font-size: 20px;
}