
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  background-color: rgb(235, 0, 0)
}

.nav-home {
  margin: 0 0 0 36px;
}

#nav-site-icon {
  font-size: 105px;
  color: white;
  transition: transform 0.3s ease;
  transform: rotate(40deg);
}
#nav-site-icon:hover {
  color: rgb(20, 0, 0);
  transform: rotate(60deg)
}
.nav-user-action-icon {
  font-size: 60px;
  color: white;
  transition: transform 0.3s ease;
}
.nav-user-action-icon:hover {
  color: rgb(20, 0, 0);
  transform: rotate(30deg)
}

.nav-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.nav-loginSignup-container {
  display: flex;
  flex-direction: row;
  padding: 12px;
  gap: 24px;
}

.nav-action-button {
    background-color: white;
    width: 180px;
    height: 36px;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(235, 0, 0);
    list-style: none;
    font-size: 20px;
}
.nav-action-button:hover {
  box-shadow: 0 0 10px 2px rgb(225, 0, 0, 0.5);
  background-color: black;
  cursor: pointer;
}

.nav-search-btn {
  list-style: none;
}
.nav-search-btn:hover {
  cursor: pointer;
}

.nav-action-button-text {
  color: rgb(235, 0, 0);
  text-decoration: none;
  font-size: 20px;
  height: 20px;
}
