
.dropdown-container {
    margin-right: 36px;
}

.profile-log-modal-container {
    /* padding: 12px; */
    width: 600px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border: 12px rgb(190, 0, 0) solid;
}

.toggle-dropdown{
    padding: 10px;
    color: white;
    background-color: white;
    border: none;
    border-radius: 4px;
    width: 60px;
    height: 35%;
}
.toggle-dropdown:hover {
    cursor: pointer;
    background-color: black;
}

.profile-icon {
    color: rgb(235, 0, 0);
    font-size: 24px;
}

.dropdown-text {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}


.profile-dropdown{
    background-color: rgba(255, 255, 255, 0.65);
    padding: 24px;
    border-radius: 4px 4px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 1;
    position: absolute;
    margin-top: 12px;
    /* border: 1px green solid; */
    right: 58px;
}

.login-model-icon {
    color: white;
    font-size: 36px;
}

.profile-log-modal-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.profile-log-modal-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profile-log-modal-label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-log-modal-btn {
    align-self: center;
    width: 90%;
    height: 35px;
    margin: 10px;
    background-color: rgb(190, 0, 0);
    color: white;
    border: none;
}
.profile-log-modal-btn:hover {
    background-color: rgb(235, 0 , 0);
    box-shadow: 0 0 10px 2px rgb(225, 0, 0, 0.5);
    cursor: pointer;
}

.profile-log-modal-demo-text {
    color: white;
    text-decoration: none;
}

.logout-button{
    color: white;
    background-color: rgb(190, 0, 0);
    border: none;
    border-radius: 4px 4px;
    width: 100%;
    height: 30px;
}


.demo-login-btn{
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: rgb(175, 17, 17)
}
.demo-login-btn:hover{
    color: rgb(26,121,255);
}